node_modules
raw
npm-debug.log
up-list/docs/.vuepress/dist

pids
logs

*.log
*.out

*.csv
*.vbs
*.bat

csv-parser.js
email.js
test.*

new
png
title.txt

cms-catcher/statics
uplist-auto/rule-data/*
!pet-map.json

data.json
raw.json
minify.json
last.json
!equip/v2/minify.json

*.crt
*.key

gacha.json

equip/equip.json
equip/sorted.json
equip/pet.json
equip/sortmap.json

parseTalentMap.js