/*
  stylesheets for cms
*/

.ul {
  width: 720px;
  margin-left: auto;
  margin-right: auto;
}
ul {
  padding: 0;
  box-shadow: 2px 2px 10px gray;
}

li {
  list-style: none;
  font-size: 16px;
  border-bottom: 1px solid gainsboro;
  cursor: pointer;
  padding: 10px;
  border-collapse: collapse;
  transition-duration: .3s;
}
li.odd {
  background: #eee;
}
li:hover {
  background: #ddd;
}
#cms-title {
  cursor: default;
  color: gray;
}
li a {
  width: 660px;
}
li span {
  width: 60px;
  text-align: left;
}
#cms-title:hover {
  background: unset;
}
