@font-face {  
  font-family: 'msyh';
  src: url('/m/fonts/msyh.ttc');
  font-weight: bold;
}

html {
  width: 100%;
  height: 100%;
}
h3 {
  margin: -10px;
  padding: 10px;
  margin-bottom: 10px;
  font-weight: normal;
  background-color: #40c4ff;
}
body {
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  padding-top: 20px;
  margin: 0;
}

#loading-percentage {
  width: 50px;
  text-align: center;
  margin: auto;
  position: relative;
  margin-top: -38px;
}
#loading-hint {
  display: block;
  margin: auto;
  margin-top: 30px;
  text-align: center;
}

#app {
  width: 1600px;
  margin: auto;
  font-family: 'Microsoft YaHei', 'Heiti SC', 'San Francisco', Arial, sans-serif;
}
/* div {
  background: rgba(0, 0, 0, 0.1)
} */
img {
  height: 20px;
}
input, select {
  outline: none;
}
#app > div {
  display: inline-block;
  vertical-align: top;
}
#left, #right {
  width: 280px;
  margin: 1px;
  /* height: 768px; */
}
#left > div {
  width: 240px;
}
#left > div, #equip-bottom, #right > div {
  padding: 10px;
  margin-bottom: 20px;
  /* border: 1px solid gainsboro; */
  box-shadow: 1px 1px 3px gainsboro;
  transition-duration: 0.3s;
  background: #f5f5f6;
}
#left > div:hover, #equip-top:hover, #equip-bottom:hover, #right > div:hover {
  box-shadow: 1px 1px 10px silver;
}
#middle {
  width: 1024px;
  /* height: 768px; */
  margin: 1px;
}
#right {
  margin-left: 20px;
  width: 260px;
}

#user span {
  width: 50px;
  margin-right: 5px;
}
#user input { width: 120px; }

#pin-input {
  width: 170px;
}

#pin-size-controller {
  margin-top: 20px;
}
#size-ctrl-hint {
  width: 240px;
  margin: 5px;
}
#pin-size-controller input {
  vertical-align: top;
}
#pin-size-controller input[type='range'] {
  width: 110px;
}
#pin-size-controller input[type='number'] {
  width: 40px;
  margin-left: 5px;
  margin-right: 5px;
}

#download {
  margin-top: 30px;
}
#download button {
  width: 120px;
  height: 40px;
  font-size: 20px;
  margin-left: 40px;
}
#download p {
  width: 200px;
}

#equip-top p {
  display: block;
}
#equip-top span {
  margin-right: 5px;
  width: 68px;
}
#equip-top input {
  width: 35px;
}
#awaken-checkbox {
  width: 10px !important;
  height: 10px;
  margin-left: 10px;
}
#special-checkbox {
  width: 10px !important;
  height: 10px;
  margin-left: 10px;
}
#equip-name input {
  width: 120px !important;
}
#equip-serial input {
  width: 50px !important;
}

#equip-main {
  color: rgb(114, 114, 114);
  width: 1024px;
  height: 576px;
  /* background: url('/images/equip-sample.png'); */
  background-size: 1024px 576px;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  box-shadow: 3px 3px 30px gray;
  font-family: 'msyh', 'Microsoft YaHei', 'Heiti SC', 'San Francisco', Arial, sans-serif;
}
#equip-main > div {
  position: relative;
  z-index: 5;
}
#background-container img {
  position: absolute;
  z-index: 1;
}
#mid-top {
  height: 198px;
  left: 329px;
  top: -117px;
}
#left-bottom {
  height: 1095px;
  left: -432px;
  top: -58px;
  z-index: 4;
}
#right-top {
  height: 287px;
  right: 88px;
  top: 118px;
}
#right-bottom {
  height: 500px;
  right: -218px;
  top: 476px;
}

#top-banner {
  height: 90px;
  z-index: 6 !important;
}

#user-banner {
  color: white;
  height: 90px;
  width: 400px;
  background: url('/images/user-bar.png') no-repeat;
  background-size: 320px 94px;
  display: inline-block;
}
#user-banner > div {
  display: inline-block;
  vertical-align: top;
}
#user-image {
  width: 65px;
  height: 65px;
  margin-left: 12px;
  margin-top: 11px;
  border-radius: 50%;
  background-size: 65px 65px;
}
#user-detail p {
  margin-top: 10px;
}
#user-level {
  font-size: 17.2px;
  width: 60px;
}
#user-name {
  font-size: 17.7px;
  margin-left: 18px;
  width: 140px;
  text-align: center;
}
#user-bottom {
  margin-top: 12.5px !important;
  font-size: 13.6px;
  margin-left: 11px;
}
#user-coin {
  margin-left: 19px;
  width: 80px;
}
#user-crystal { margin-left: 26px; }

#system-banner {
  float: right;
  height: 0;
}
#system-banner img { height: 136.6px; }

#equip-banner {
  height: 50px;
  background: url('/images/equip-bar.png') no-repeat -1px 5px;
  background-size: 1024px 45px;
  z-index: 6 !important;
}
#equip-banner-serial {
  width: 120px;
  margin-left: 120px;
  margin-top: -3px;
  color: white;
  font-size: 22px;
}
#equip-banner-img > img {
  width: 39px;
  height: 39px;
  vertical-align: bottom;
  margin-left: 28px;
  margin-bottom: -8px;
  margin-top: -10px;
}
#equip-banner-name {
  margin-left: 6px;
  margin-top: -10px;
  margin-bottom: -2px;
  vertical-align: bottom;
  font-size: 24px;
}
#equip-type-view {
  position: absolute;
  left: 554px;
  height: 28px;
}

#equip-stars-container {
  float: right;
  padding-top: 10px;
  width: 400px;
}
#equip-stars-container img {
  height: 33px;
  margin-left: -2.4px;
}
#equip-view {
  height: 500px;
}
#equip-view-left {
  position: absolute;
  width: 569px;
  height: 100%;
  float: left;
  overflow: visible;
  margin-left: 7px;
  /* for test */
  /* background: gainsboro;
  opacity: .3; */
}
#equip-view-left > div {
  width: 50%;
  margin-left: 50%;
  height: 10px;
  /* background: gray; */
}
#equip-image-container {
  margin-top: 175px;
}
#equip-image-container img {
  position: absolute;
}
#equip-basic-image {
  margin-left: 7px;
}
#pin-container {
  width: 280px;
  height: auto;
  transform: translate(-50%, -50%);
}
#equip-unique-container {
  margin-top: 124px;
  height: 31px !important;
}
.unique-container {
  width: 400px;
  margin-left: -195px;
  text-align: center;
  height: 47px;
  line-height: 44px;
  margin-top: -13px;
}
#equip-unique-container p {
  font-size: 17.7px;
  /* width: 400px; */
  padding-top: 12px;
  text-align: center;
  margin-top: -11px;
  margin-left: 9px;
  /* transform: translate(-50%); */
  white-space: nowrap;
}
.awaken-bg {
  background-image: url('/images/unique-background.png');
  background-size: 400px;
}
#equip-protect-container {
  margin-top: 36px;
}
#equip-protect-container img {
  height: 54px;
  margin-left: -120px;
  margin-top: -5px;
  position: absolute;
}

#equip-view-right {
  width: 39%;
  margin-right: 50px;
  height: 100%;
  float: right;
}
#equip-status {
  position: relative;
  width: 369px;
  height: 151px;
  top: 10px;
  left: 21px;
  border: 1px solid #3ba7e6;
  border-radius: 15px;
  box-shadow: 0 0 5px #bbb;
  font-size: 20.5px;
  background-color: white;
}
#equip-status-top, #equip-status-bot {
  column-count: 2;
  padding-top: 8px;
  width: 379px;
}
#equip-status-top {
  height: 65px;
}
#equip-status > div > div {
  margin-left: 15px;
  margin-bottom: 5px;
}
#equip-status-level img {
  margin-left: -2px;
  margin-top: 4px;
  height: 19px;
}
#equip-status-level #level {
  vertical-align: top;
  margin-left: 6.5px;
}
#equip-status-level #adds {
  vertical-align: top;
  margin-left: 12px;
  margin-right: -12px;
}
#equip-status-cutoff {
  transform: scale(.9);
  padding-left: 5px;
  height: 2px;
  margin-top: 4.5px;
  margin-bottom: -2px;
}
#equip-status-cutoff img {
  position: absolute;
  height: 2px;
}
#equip-status p {
  margin: 0;
}
#equip-status span {
  margin-left: 6px;
}

#equip-skill {
  clear: both;
  padding-top: 15px;
  padding-left: 5px;
  width: 380px;
}
.skill {
  height: 127px;
  width: 380px;
  position: relative;
}
.title-line, .cutoff-line, .desc-line {
  width: 380px;
}
.title-line {
  height: 32px;
}
.cutoff-line {
  height: 1.5px;
  background-color: rgb(255, 151, 0);
}
.skill-name {
  font-size: 24px;
  float: left;
  position: absolute;
  margin-left: 13.6px;
}
.skill-type-view {
  height: 30.6px;
  left: 143px;
  top: 1px;
  position: absolute;
}
.skill-break {
  float: right;
  margin-right: 10px;
  margin-top: 3px;
  margin-bottom: -10px;
}
.skill-break .break-point {
  background: url('/images/break-point.png');
  height: 22px;
  width: 15px;
  display: inline-block;
  transform: scale(.9);
  margin-top: 2px;
  margin-right: 2px;
  margin-left: -3.45px;
}
.skill-break .break-point.full {
  background-position-x: 15.5px;
}
.skill-desc {
  font-size: 18.25px;
  line-height: 22.4px;
  margin-left: 13.6px;
  margin-top: 2px;
  width: 364px;
  word-wrap: break-word;
}
.blue {
  color: #34a4e5;
}

#equip-view-left #equip-awaken-widget {
  position: absolute;
  margin-left: 96px;
  margin-top: 29px;
  transform: scale(.9);
}
#equip-awaken-widget div {
  background-image: url('/images/awaken-ui.png');
  width: 35px;
  height: 40px;
}
#awaken-scale {
  background-position-x: 71px;
}
#awaken-change {
  margin-top: 33px;
}

#equip-view-left #equip-lock-widget {
  position: absolute;
  z-index: 16;
  margin-left: 535px;
  margin-top: 24px;
  transform: scale(1.2);
}
#equip-lock-widget #lock {
  background-image: url('/images/lock.png');
  width: 38px;
  height: 50px;
}
#lock.unlock {
  background-position-x: -39px;
}

#equip-series {
  display: inline-block;
  width: 110px;
  margin-left: 10px;
}
#selector-container {
  display: inline-block;
  border: 1px solid #ccc;
  width: 50px;
  height: 18px;
  vertical-align: bottom;
  position: relative;
  margin-bottom: -3px;
  z-index: 8;
  appearance: menulist;
  -webkit-appearance: menulist;
  -moz-appearance: menulist;
}
#selector-container > img {
  margin-left: 8px;
  position: absolute;
}
#series-selector {
  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
  height: 400px;
  width: 50px;
  overflow-y: scroll;
  text-align: center;
  background: white;
}
#series-selector.show-selector {
  display: inline-block;
}
#series-selector li {
  list-style: none;
  /* border: 1px solid #ccc; */
  border-top: none;
}
#series-selector li:hover {
  background: #eee;
}
#series-selector li input {
  display: none;
}

#equip-type span {
  width: 60px;
}
#equip-type input {
  width: 40px;
}
#equip-type input[type='radio'] {
  width: auto;
}
#equip-dmg-type select {
  margin-left: 5px;
}
#equip-dmg-type img {
  vertical-align: top;
}

#equip-bottom {
  margin-top: 20px;
}
#skill-selector-container p {
  margin-bottom: 0;
}
.skill-tutorial {
  padding-left: 30px;
}
.skill-setting {
  display: inline-block;
  width: 50%;
}
.skill-setting p {
  display: block;
}
.skill-setting span {
  padding-right: 10px;
}
.skill-setting input {
  margin-right: 10px;
  width: 100px;
}
.skill-setting input[type="number"] {
  width: 30px;
}
.skill-type {
  vertical-align: top;
  margin-left: 5px;
}
.skill-input-description {
  width: 70%;
  height: 60px;
  margin-left: 10px;
}

.buff {
  color: rgb(255, 151, 0);
}
.normal {
  color: rgb(114, 114, 114);
}

#readme-switch {
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 20;
}
#readme-switch button {
  border: none;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  background: #40c4ff;
  box-shadow: 2px 2px 10px #dcdcdc;
  cursor: default;
  transition-duration: .3s;
  font-size: 24px;
  padding-left: 16px;
  outline: none;
}
#readme-switch button:hover, #readme-switch button:active {
  background: #0094cc;
  color: white;
  box-shadow: 2px 2px 10px gray;
}
#readme-page {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 30;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  overflow: hidden;
}
#readme-page.hide {
  display: none;
}
#readme-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 80%;
  height: 90%;
  margin: auto;
  background: white;
  overflow: auto;
}
#readme-container h4 {
  text-align: center;
  font-size: 24px;
}
#readme-container pre {
  display: block;
  margin: 8px;
  line-height: 20px;
  margin-left: 40px;
  margin-right: 40px;
  white-space: pre-wrap;
  font-family: 'Microsoft YaHei', Arial, Helvetica, sans-serif;
  font-size: 18px;
}

#watermark {
  position: absolute;
  transform: rotate(90deg);
  right: 320px;
  top: 135px;
  opacity: .2;
}
