#app {
  width: 1600px;
  font-family: 'Microsoft YaHei', 'Heiti SC', 'San Francisco', Arial, sans-serif;
}
/* div {
  background: rgba(0, 0, 0, 0.1)
} */
img {
  height: 20px;
}
#app > div {
  display: inline-block;
  vertical-align: top;
}
#left, #right {
  width: 280px;
  margin: 1px;
  /* height: 768px; */
}
#middle {
  width: 1024px;
  /* height: 768px; */
  margin: 1px;
}

#user span {
  width: 50px;
  margin-right: 5px;
}
#user input { width: 120px; }
#equip-main {
  color: rgb(114, 114, 114);
}
#equip-top span {
  margin-right: 5px;
  text-align: right;
}
#equip-top input {
  width: 35px;
}
#awaken-checkbox {
  width: 10px !important;
  height: 10px;
  margin-left: 10px;
}
#equip-series > span, #equip-series > div > span {
  width: 65px;
}
#equip-name input {
  width: 120px;
}
#equip-serial input {
  width: 50px;
}

#equip-main {
  width: 1024px;
  height: 576px;
  background-image: url('/images/equip-background.png');
  background-size: 1024px 576px;
  font-weight: bold;
  position: absolute;
  overflow: hidden;
}
#equip-main > div {
  position: relative;
  z-index: 5;
}
#background-container img {
  position: absolute;
  z-index: 1;
}
#mid-top {
  height: 198px;
  left: 329px;
  top: -117px;
}
#left-bottom {
  height: 1090px;
  left: -429px;
  top: -54px;
  z-index: 4;
}
#right-top {
  height: 287px;
  right: 88px;
  top: 118px;
}
#right-bottom {
  height: 500px;
  right: -218px;
  top: 476px;
}

#top-banner { height: 90px; }

#user-banner {
  color: white;
  height: 90px;
  width: 400px;
  background: url('/images/user-bar.png') no-repeat;
  background-size: 320px 94px;
  display: inline-block;
}
#user-banner > div {
  display: inline-block;
  vertical-align: top;
}
#user-image {
  width: 65px;
  height: 65px;
  margin-left: 12px;
  margin-top: 11px;
  border-radius: 50%;
  background-size: 65px 65px;
}
#user-detail p {
  margin-top: 10px;
}
#user-level {
  font-size: 17.2px;
  width: 60px;
}
#user-name {
  font-size: 17.7px;
  margin-left: 18px;
  width: 140px;
  text-align: center;
}
#user-bottom { margin-top: 14px !important; }
#user-coin {
  margin-left: 19px;
  width: 80px;
}
#user-crystal { margin-left: 26px; }

#system-banner {
  float: right;
  height: 0;
}
#system-banner img { height: 136.6px; }

#equip-banner {
  height: 50px;
  background: url('/images/equip-bar.png') no-repeat -1px 5px;
  background-size: 1024px 45px;
}
#equip-banner-serial {
  width: 120px;
  margin-left: 128px;
  margin-top: -3px;
  color: white;
  font-size: 22px;
}
#equip-banner-img > img {
  width: 39px;
  height: 39px;
  vertical-align: bottom;
  margin-left: 21px;
  margin-bottom: -8px;
  margin-top: -10px;
}
#equip-banner-name {
  margin-left: 6px;
  margin-top: -10px;
  margin-bottom: -2px;
  vertical-align: bottom;
  font-size: 24px;
}

#equip-stars-container {
  float: right;
  padding-top: 10px;
  width: 400px;
}
#equip-stars-container img {
  height: 33px;
  margin-left: -2.4px;
}
#equip-view {
  height: 500px;
}
#equip-view-left {
  width: 50%;
  height: 100%;
  float: left;
}
#equip-view-right {
  width: 39%;
  margin-right: 50px;
  height: 100%;
  float: right;
}
#equip-status {
  position: absolute;
  width: 400px;
}
#equip-status p {
  margin-bottom: 5px;
  margin-left: 10px;
  display: block;
}
#equip-status-left {
  float: left;
  width: 217px;
  height: 155px;
  padding-top: 14px;
  padding-left: 12.5px;
  font-size: 18.2px;
  background: url('/images/status-left.png') no-repeat 4px 7px;
  background-size: 224px 159px;
}
#equip-status-level {
  margin-top: 6px;
}
#equip-status-love {
  margin-top: 26px;
  font-size: 19.5px;
}
#equip-status span {
  margin-right: 4px;
}
#equip-status-weight {
  margin-top: -5px;
  font-size: 19.5px;
}
#equip-status-adds {
  margin-top: -7px;
  font-size: 21px;
}
#equip-status-right {
  float: right;
  width: 176px;
  margin-right: -20px;
  height: 155px;
  padding-top: 15px;
  padding-left: 10px;
  font-size: 20px;
  background: url('/images/status-right.png') no-repeat 0px 7px;
  background-size: 161px 160px;
}
#equip-status-right p {
  margin-top: 5px;
}
#equip-status-right p span {
  margin-right: 7px;
}
#equip-skill {
  clear: both;
  height: 300px;
}
#equip-awaken-widget {
  position: relative;
  width: 50px;
  margin-left: -50px;
  height: 50px;
}
#awaken-image {
  vertical-align: top;
  margin-top: -121px;
  margin-left: -2px;
  height: 130px;
}

#equip-series {
  display: inline-block;
  width: 160px;
}
#selector-container {
  display: inline-block;
  width: 50px;
  height: 18px;
  vertical-align: bottom;
}
#selector-container > img {
  margin-left: 15px;
  position: absolute;
}
#series-selector {
  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
  height: 400px;
  overflow: scroll;
  width: 50px;
  text-align: center;
  background: white;
}
#equip-series:hover #series-selector {
  display: inline-block;
}
#series-selector li {
  list-style: none;
  border: 1px solid #ccc;
  border-top: none;
}
#series-selector li:hover {
  background: #eee;
}
#series-selector li input {
  display: none;
}

#equip-type span {
  width: 60px;
}
#equip-type input {
  width: 40px;
}
#equip-type input[type='radio'] {
  width: auto;
}

.buff {
  color: rgb(255, 151, 0);
}
.normal {
  color: rgb(114, 114, 114);
}