/*
  stylesheets for index
*/

#index {
  width: 768px;
  height: 768px;
  margin: auto;
  padding: 20px;
  overflow: hidden;
  background: url('/images/favicon-title.png') no-repeat 200px 350px;
  background-size: 400px;
  background-color: #e1e2e1;
}

h1 {
  margin: -20px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #448aff;
  font-weight: normal;
  box-shadow: 2px 2px 10px gray;
}

#favicon {
  width: 72px;
  height: 72px;
  margin-right: 18px;
}

button {
  transition-duration: 0.3s;
  outline: none;
}

#link-container, #main-container {
  width: 767px;
  margin: auto;
  box-shadow: 2px 2px 10px gray;
}

#link-container p {
  width: calc(33.33% - 20px);
  margin: 0;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition-duration: .3s;
  background-color: #40c4ff;
}
#link-container p:hover {
  background-color: #0094cc;
}
#link-container p.disabled {
  cursor: initial;
}
#link-container p.disabled:hover {
  background: #40c4ff;
}
#link-container p.disabled a {
  color: gray;
}

#tab {
  margin-bottom: -2px;
}
.page-button {
  width: 50%;
  height: 40px;
  position: relative;
  background: #40c4ff;
  cursor: pointer;
  padding: 5px 10px 3px 10px;
  border: none;
  border-bottom: 3px solid #40c4ff;
}
.page-button:hover, .page-button:active {
  background: #0094cc;
  border-bottom: 3px solid #0094cc;
}
.focus {
  border-bottom: 3px solid #0094cc;
}

#iframe-container {
  background: white;
  display: none;
}
iframe {
  width: 765px;
  height: 480px;
}

#iframe-hide {
  border: none;
  cursor: pointer;
  float: left;
  width: 100%;
  height: 30px;
  background-color: #82f7ff;
}
#iframe-hide:hover {
  background-color: #40c4ff;
}

/* faction war */
#faction-body.hide {
  display: none;
}
#toggle-fw {
  background: #0094cc;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  color: white;
  float: right;
  right: 5px;
  margin-left: 5px;
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
}

#faction-war {
  position: fixed;
  float: right;
  top: 30px;
  right: 30px;
  text-align: center;
  background: #eee;
  box-shadow: 2px 2px 10px gray;
  border-radius: 10px;
  overflow: hidden;
  cursor: default;
}
#faction-war h5 {
  margin: 0;
  padding: 5px;
  font-size: 18px;
  font-weight: normal;
  background: #40c4ff;
}
#faction-score {
  margin: 5px;
  border-collapse: collapse;
}
#faction-score.loading {
  color: gray;
}
#fw-refresh{
  width: 16px;
  cursor: pointer;
}
#faction-score td {
  border: 1px solid white;
  padding: 5px;
  border-collapse: collapse;
}

/* ad */
#ad {
  padding: 10px;
  text-align: left;
  background: white;
}
#ad p {
  display: block;
  margin: 0;
}
#ad p#ad-title {
  font-size: 16px;
  margin-bottom: 10px;
}
#ad p q {
  margin-left: 5px;
  width: 150px;
  display: inline-block;
}
#ad p span.from {
  float: right;
  margin-right: 10px;
}
#ad img {
  width: 160px;
}

#footer {
  position: absolute;
  width: 400px;
  left: 50%;
  margin-left: -200px;
  text-align: center;
  bottom: 0;
}