* {
  margin: auto;
  text-align: center;
}
#app {
  width: 600px;
}
#pool-input, #submit, #random-number, p {
  display: block;
  margin-bottom: 15px;
}
#pool-input {
  width: 300px;
  height: 150px;
  text-align: left;
}
input[type='number'] {
  width: 40px;
  margin: 5px;
}