html {background-color: #f6f6f6;}
#stigmata-selector {
  text-align: center;
}
#stigmata-selector .option {
  background-image: url('/images/stigmata/stigmata.png');
  width: 150px;
  height: 130px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}
.option p {
  margin: 0;
  margin-top: 60px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-shadow: 0px 0px 5px blue;
}
#stigmata-selector .option.selected { height: 150px; }
.option.kiana { background-position-y: 0px; }
.option.theresa { background-position-y: -280px; }
.option.bronya { background-position-y: -560px; }
.option.kiana.selected { background-position-y: -140px; }
.option.theresa.selected { background-position-y: -420px; }
.option.bronya.selected { background-position-y: -700px; }

#stigmata {
  width: 512px;
  height: 512px;
  position: relative;
}
#stigmata.kiana { background-image: url('/images/stigmata/Kiana.png'); }
#stigmata.bronya { background-image: url('/images/stigmata/Bronya.png'); }
#stigmata.theresa { background-image: url('/images/stigmata/Theresa.png'); }

.stigmata-icon {
  background-image: url('/images/stigmata/icons-min.png');
  width: 64px;
  height: 64px;
  position: absolute;
  overflow: visible;
  cursor: pointer;
}
.stigmata-icon.disabled {
  opacity: .6;
}
.icon-ring {
  width: 76px;
  height: 76px;
  background-image: url('/images/stigmata/UI.png');
  background-position-y: -220px;
  background-position-x: -3px;
  margin-left: -6px;
  margin-top: -6px;
}
.selected .selected-ring {
  background-image: url('/images/stigmata/UI.png');;
  background-position-x: -290px;
  background-position-y: -226px;
  width: 116px;
  height: 116px;
  margin-left: -26px;
  margin-top: -24px;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(.8);
}

.stigmata-icon .level {
  text-align: center;
  color: white;
  font-size: 16px;
  font-weight: bold;
  width: 48px;
  height: 22px;
  position: absolute;
  left: 7px;
  top: 64px;
  transform: none;
  background-image: url('/images/stigmata/UI.png');
  background-position-x: -93px;
  background-position-y: -1px;
}