body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#favicon {
  width: 72px;
  height: 72px;
  margin-left: 24px;
  margin-right: 24px;
}

h1 {
  margin-top: 0;
}

body > p {
  font-style: italic;
  margin-left: 20px;
}

a {
  color: black;
  text-decoration: none;
}

table, th, td {
  border: 1px solid gray;
  border-collapse: collapse;
  padding-left: 5px;
  padding-right: 5px;
  white-space: nowrap;
}

th {
  padding: 5px;
}

span, p {
  display: inline-block;
  margin: 2px;
  margin-right: 5px;
}
span {
  width: 32px;
  text-align: right;
}

.pool {
  text-align: center;
}

.eid {
  text-align: right;
}

.not-latest {
  background-color: #ccc;
}

form span {
  width: 80px;
}

form .year,form .month,form .day,form .eid {
  width: 45px;
}

#update-link {
  font-size: 18px;
  text-decoration: none;
  color: black;
}

.delete {
  text-align: center;
}

.ul {
  width: 720px;
  margin-left: auto;
  margin-right: auto;
}
ul {
  padding: 0;
}

li {
  list-style: none;
  font-size: 18px;
  background: #eee;
  border: 1px solid white;
  width: 720px;
  cursor: pointer;
  padding: 5px;
  border-collapse: collapse;
  border-radius: 10px;
}
#cms-title {
  cursor: default;
  background: #ddd;
}
li a {
  width: 660px;
}
li span {
  width: 60px;
  text-align: left;
}
li:hover {
  background: #6cf;
}
#cms-title:hover {
  background: #ddd;
}