body {
  padding: 50px;
  font: 14px "Microsoft YaHei", Arial, sans-serif;
}

#favicon {
  width: 72px;
  height: 72px;
  margin-left: 24px;
  margin-right: 24px;
}

p {
  margin-left: 10px;
  display: inline-block;
}
span {
  display: inline-block;
}

a {
  color: black;
  text-decoration: none;
}
