body {
  padding: 50px;
  font: 14px "Microsoft YaHei", Arial, sans-serif;
}

p {
  margin-left: 10px;
  display: inline-block;
}
span {
  display: inline-block;
}

a {
  color: black;
  text-decoration: none;
}
