extends layout

block content
  link(rel='stylesheet', href='/stylesheets/animation.css')
  link(rel='stylesheet', href='/stylesheets/auto-list.css')
  #loading-page
    #loading-ring.loading-rotate
  #app(style='display: none')
    #equip-filter.collapse(@click='focusSearch')
      img#search-icon(:src='searchIcon')
      input#filter-input.hide(placeholder='搜索', @blur='blurSearch', v-model='searchInput.text')
    #pool-selector
      button(v-for='(name, pool) in pools', @click='select(pool)',
             :class='pool == selectedPool ? "focus" : ""') {{ name }}
    #main-view
      #hint-container(v-if='loading || error')
        | {{ hintText }}
      table#main(v-else)
        tr#title
          th#time(@click='sortTable') 时间 {{ sortedFlag ? '↓' : '↑' }}
          th(:colspan='maxCols') 内容
        tr.row(v-for='(row, index) in filterRows', :class='index % 2 ? "even" : "odd"')
          td.time {{ row.startTime + ' - ' + row.endTime }}
          td.item(v-for='index in maxCols') {{ row.data[index - 1] || '' }}

  script(src='/javascripts/vue.min.js')
  script(src='/javascripts/axios.min.js')
  script(src='/javascripts/auto-list.js')