extends layout
block content
  link(rel='stylesheet', href='/dist/css/animation.min.css')
  link(rel='stylesheet', href='/dist/css/auto-list.min.css')
  #loading-page
    #loading-ring.loading-rotate
  #app(style='display: none')
    #equip-filter.collapse(@click='focusSearch')
      img#search-icon(:src='searchIcon')
      input#filter-input.hide(placeholder='搜索关键词',
            @blur='blurSearch', v-model='searchInput.text')
    #main
      table#main.buglist
        thead
          tr#title
            th
              select(v-model='selectedVersion', @change='getBugList(selectedVersion)')
                option(v-for='version in versions', :value='version') {{ version }}
            th 编号
            th 类型
            th 状态
            th.text 内容
            th.t2s 干掉繁体字
            th 时间
        tbody
          tr#hint-container(v-show='loading || error')
            td(colspan=7) {{ hintText }}
          tr.row(v-for='(row, index) in filterRows', v-show='!loading', :id='"row-" + index')
            td {{ row.version }}
            td {{ row.id }}
            td {{ tagMap[row.type] }}
            td(:style='statusStyle[row.status]') {{ statusMap[row.status] }}
            td.text
              .text-title {{ row.title }} 
                button(@click='showRow(index)', v-show='row.content.length')  展开/收起
              .detail(v-html='row.content', v-show='showContent[index]')
            td.t2s
              button(:index='index') 干！
            td {{ row.startdate }}

  script(src='/javascripts/vue.min.js')
  script(src='/javascripts/axios.min.js')
  script(src='/javascripts/bug-list.js')
  //- script(src='/dist/js/bug-list.min.js')
