extends layout

block content
  script(src="/dist/js/index.min.js")
  //- script(src="javascripts/index.js")
  link(rel="stylesheet", href="/dist/css/index.min.css")
  #index
    h1
      img#favicon(src='/images/favicon-title.png') 
      | 搞事学园
    div#link-container
      p
        a(href='/list') Up 记录 (手动版)
      p
        a(href='/list/auto') Up 记录 (自动版)
      p
        a(href='/equip') 装备模拟器
      p
        a(href='/cms/3') 正式服公告 (备份版)
      p
        a(href='/cms/18') 测试服公告 (备份版)
      //- p
      //-   a(href='http://cms.mihoyo.com/mihoyo/hsod2_webview/index.php/broadcastTop/List',target='inpage') 正式服公告
      //- p
      //-   a(href='http://cms.mihoyo.com/mihoyo/hsod2_webview/index.php/broadcastTop/List?build=18', target='inpage') 测试服公告
      p
        a(href='http://event.mihoyo.com/notice', target='_blank') 测试服 Bug 公告
      p.disabled
        a 准备中……
      p
        a(href='http://event.mihoyo.com/faction_battle/201806/', target='_blank') 阵营战页面
      p
        a(href='/buglist') 测试服 bug 记录
    br
    div#main-container
      div#tab
        button.page-button#origin(src='http://cms.mihoyo.com/mihoyo/hsod2_webview/index.php/broadcastTop/List') 正式服公告
        button.page-button#test(src='http://cms.mihoyo.com/mihoyo/hsod2_webview/index.php/broadcastTop/List?build=18') 测试服公告
        //- button.page-button#bug-list(src='http://event.mihoyo.com/notice') Bug List
      div#iframe-container
        div#iframe-button-container
          button#iframe-hide 隐藏本页
        iframe#iframe(name='inpage', frameborder=0)
  #faction-war
    h5 广告 (长期招租)
      div#toggle-fw -
    #faction-body
      //- table#faction-score
      //-   thead#faction-head
      //-     td
      //-       img#fw-refresh(src='/images/icons/Material/refresh_black.png')
      //-     td 闇★Revolution
      //-     td Kirakira☆気分
      //-   tr#faction-total
      //-     td 总分
      //-     td#left-total 0
      //-     td#right-total 0
      //-   tr#faction-line
      //-     td 分数线
      //-     td#left-line 0
      //-     td#right-line 0
      #ad
        //- p#ad-title 广告 (长期招租)
        p
          | 崩坏2通讯中心
          br
          q 这里有你想要的崩2通讯消息，要点一网打尽。微信搜索bh2news或扫码关注，感谢支持。
          br
          q 招募编辑部，宣传部欢迎各位米娜桑投稿
          br
          q 群聊号码: 638285670
        img(src='images/QRCode.jpg')
  link(rel="stylesheet", href="/live2d/css/live2d.css")
  #landlord
    .message(style="opacity: 0;")
    canvas#live2d.live2d(width='280', height='450')
    #mute-button 取消静音
  script(type="text/javascript").
    let message_Path = '/live2d/';
    let chara = ['seele', 'thresa'][Math.floor(Math.random() + 0.5)];
  script(type="text/javascript", src="/live2d/js/jquery.min.js")
  script(type="text/javascript", src="/live2d/js/message.js")
  script(type="text/javascript", src="/live2d/js/live2d.js")
  script(type="text/javascript").
    window.onload = loadlive2d("live2d", `/live2d/model/${chara}/model.json`);
    $('#mute-button').click(function () {
      if ($(this).text() === '取消静音') {
        $(this).text('静音');
        window.myMute = true;
      } else {
        $(this).text('取消静音');
        window.myMute = false;
      }
    });
  #footer
    p Copyright © 2018 搞事学园 
      a(href='http://www.miitbeian.gov.cn', target='_blank') 粤ICP备18035925号