extends layout

block content
  h1= title
  br
  p
    a(href='/list') Up 记录
  p
    a(href='http://cms.mihoyo.com/mihoyo/hsod2_webview/index.php/broadcastTop/List') 正式服公告
  p
    a(href='http://cms.mihoyo.com/mihoyo/hsod2_webview/index.php/broadcastTop/List?build=18') 测试服公告
  p
    a(href='http://event.mihoyo.com/notice') Bug 公告