extends layout

block content
  script(src="/dist/js/index.min.js")
  //- script(src="javascripts/index.js")
  link(rel="stylesheet", href="/dist/css/index.min.css")
  #index
    h1
      img#favicon(src='/images/favicon-title.png') 
      | 搞事学园
    div#link-container
      p
        a(href='/list') Up 记录 (手动版)
      p
        a(href='/list/auto') Up 记录 (自动版)
      p
        a(href='/equip') 装备模拟器
      p
        a(href='/cms/3') 正式服公告 (备份版)
      p
        a(href='/cms/18') 测试服公告 (备份版)
      //- p
      //-   a(href='http://cms.mihoyo.com/mihoyo/hsod2_webview/index.php/broadcastTop/List',target='inpage') 正式服公告
      //- p
      //-   a(href='http://cms.mihoyo.com/mihoyo/hsod2_webview/index.php/broadcastTop/List?build=18', target='inpage') 测试服公告
      p
        a(href='http://event.mihoyo.com/notice', target='_blank') 测试服 Bug 公告
      p
        a(href='/worldbattle') 阵营战实时记录
      p
        a(href='http://event.mihoyo.com/houkai_idol_project/', target='_blank') 阵营战页面
      p.disabled
        a 施工中...
    br
    div#main-container
      div#tab
        button.page-button#origin(src='http://cms.mihoyo.com/mihoyo/hsod2_webview/index.php/broadcastTop/List') 正式服公告
        button.page-button#test(src='http://cms.mihoyo.com/mihoyo/hsod2_webview/index.php/broadcastTop/List?build=18') 测试服公告
        //- button.page-button#bug-list(src='http://event.mihoyo.com/notice') Bug List
      div#iframe-container
        div#iframe-button-container
          button#iframe-hide 隐藏本页
        iframe#iframe(name='inpage', frameborder=0)
  #faction-war
    h5 广告 (长期招租)
      div#toggle-fw -
    #faction-body
      //- table#faction-score
      //-   thead#faction-head
      //-     td
      //-       img#fw-refresh(src='/images/icons/Material/refresh_black.png')
      //-     td 闇★Revolution
      //-     td Kirakira☆気分
      //-   tr#faction-total
      //-     td 总分
      //-     td#left-total 0
      //-     td#right-total 0
      //-   tr#faction-line
      //-     td 分数线
      //-     td#left-line 0
      //-     td#right-line 0
      #ad
        //- p#ad-title 广告 (长期招租)
        p
          q BNDS 招人！
          span.from —— 豹某人