doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/dist/css/style.min.css')
    link(rel='shortcut icon', href='/favicon.png', type='image/png')
    //- PWA specific
    link(rel="manifest", href="/manifest.json")
    //- for iOS safari
    link(rel="apple-touch-icon", href="/favicon.jpg")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="white")
    script(type='text/javascript').
      (() => {
        if ('serviceWorker' in navigator) {
          navigator.serviceWorker.register('/sw.js');
        } else console.log('Connot find serviceWorker in this browser.');
      })();
  body.mdui-drawer-body-left.mdui-appbar-with-tab-larger.mdui-theme-primary-indigo.mdui-theme-accent-pink
    //- #back-container
    - if (title && title.indexOf('主页') == -1) {
    a#back-to-index(href='/') 主页
    - }
    block content
  