doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/dist/css/style.min.css')
    link(rel='shortcut icon', href='/favicon.png', type='image/png')
  body
    //- #back-container
    - if (title && title.indexOf('主页') == -1) {
    a#back-to-index(href='/') 主页
    - }
    block content
  