extends layout
block content
  link(rel="stylesheet", href="/stylesheets/stigmata.css")
  //- link(rel="stylesheet", href="/dist/css/stigmata.min.css")
  #main
  script(src="/javascripts/stigmata.js")
  //- script(src="/dist/js/stigmata.min.js")