extends layout

block content
  link(rel="stylesheet", href="dist/css/v-charts.min.css")
  link(rel="stylesheet", href="dist/css/worldbattle.min.css")
  #title
    h1 阵营战实时记录
  #app
    button#refresh(@click='loadData') 刷新
    #charts
      ve-line#main(:data='charts.main',
        :title='charts.main.title',
        :loading='settings.loading',
        :legend-position='settings.legendPosition',
        :colors='settings.colors',
        :settings='chartSettings',
        :data-zoom='zoom')
      ve-line#scores(:data='charts.scores',
        :title='charts.scores.title',
        :loading='settings.loading',
        :legend-position='settings.legendPosition',
        :colors='settings.colors',
        :style='styles.halfScreen',
        :settings='chartSettings',
        :data-zoom='zoom')
      ve-line#delta(:data='charts.delta',
        :title='charts.delta.title',
        :loading='settings.loading',
        :legend-position='settings.legendPosition',
        :colors='settings.colors',
        :style='styles.halfScreen',
        :settings='chartSettings',
        :data-zoom='zoom')
      ve-line#left-margin(:data='charts.leftMargin',
        :title='charts.leftMargin.title',
        :loading='settings.loading',
        :legend-position='settings.legendPosition',
        :colors='settings.colors',
        :style='styles.halfScreen',
        :settings='areaChart',
        :data-zoom='zoom',
        :legend-visible='false')
      ve-line#right-margin(:data='charts.rightMargin',
        :title='charts.rightMargin.title',
        :loading='settings.loading',
        :legend-position='settings.legendPosition',
        :colors='settings.inverseColors',
        :style='styles.halfScreen',
        :settings='areaChart',
        :data-zoom='zoom',
        :legend-visible='false')
      ve-line#margin-delta(:data='charts.marginDelta',
        :title='charts.marginDelta.title',
        :loading='settings.loading',
        :legend-position='settings.legendPosition',
        :colors='settings.inverseColors',
        :settings='areaChart',
        :data-zoom='zoom',
        :legend-visible='false',
        :visual-map='visualMap')

  //- script(src="javascripts/vue.min.js")
  //- script(src="javascripts/axios.min.js")
  //- script(src="javascripts/echarts.min.js")
  //- script(src="javascripts/line.min.js")
  //- script(src="javascripts/worldbattle.js")
  script(src="dist/js/worldbattle.min.js")