body {
  padding: 10px;
}
.emulator {
  font-weight: bold;
}
.emulator button {
  font-weight: bold !important;
}
.mdui-center {
  min-width: 350px;
  max-width: 400px;
}
.mdui-tab a {
  opacity: .4;
}
.table {
  height: 240px;
  overflow-y: scroll;
  margin-bottom: 20px;
}
.tr.record {
  overflow: hidden;
  height: 24px;
  width: 100%;
  text-overflow: ellipsis;
}
.td {
  display: inline;
  padding: 0px 0px 0px 15px;
  line-height: 20px;
  color: #ffcdd2;
  white-space: nowrap;
}
.td.date {
  text-align: center;
  width: 150px;
}
.hr {
  border-top: 1px dashed #2196f3;
  display: block;
  height: 0px;
  margin: 8px;
}
.god {
  color: #2196f3;
}
.mdui-card-content {
  padding: 0;
}

.mdui-snackbar {
  width: auto;
  min-width: 288px;
  max-width: 568px;
  border-radius: 2px;
  bottom: 24px;
  right: 24px;
}
.yellow {
  color: #daa520;
  border: 2px solid #ffd700;
  bottom: 20px;
  height: 44px;
}
.hide {
  display: none;
}
