.green {
  color: rgb(255, 151, 0);
}
.gray {
  color: #727272;
}
.blue {
  color: #34a4e4;
}

.hide {
  display: none;
}

p {
  margin: 0;
}

a.item {
  border-bottom: 1px solid gainsboro;
}

img.equip-img {
  width: 48px;
  height: 48px;
}
img.equip-decompose-img {
  width: 48px;
  height: 48px;
}

img.star {
  width: 16px;
  margin-top: 4px;
}

#item-per-page {
  width: 36px;
  text-align: center;
  display: inline-block;
}

.paging a {
  border: 1px solid gainsboro;
  color: #555;
  margin-left: 1px;
  min-width: 24px;
  line-height: 1.15 !important;
}

.paging a.disabled,
.paging a.selected {
  border: 1px solid white;
}

.paging a i {
  font-size: inherit;
}

#dialog .equip-img {
  width: 56px;
  height: 56px;
  display: block;
  /* margin: 8px; */
  position: absolute;
  right: 0;
}

#dialog {
  font-weight: bold;
}

.equip-detail td {
  padding: 2px 8px;
}

.equip-detail td.title {
  padding-top: 12px;
}

.pet img.pet_char {
  width: 20px;
  margin-right: 2px;
}

.pet-skill {
  margin-bottom: 12px;
  padding: 0 8px;
}

.pet-detail .pet-skill .title {
  display: inline-block;
  margin-right: 10px;
}

.awaken-img {
  width: 400px;
  height: 400px;
}

.item-title {
  white-space: nowrap;
}
.main-img {
  height: 60px;
  text-align: right;
}
.main-img > img {
  margin: 0 !important;
}
.main {
  height: 24px;
  margin-top: 3px;
  margin-bottom: 3px;
}
#dialog-content > div > p {
  white-space: nowrap;
}

.equip-main-title {
  white-space: pre-wrap;
}
.main-img {
  max-width: 64px;
}
.mr2 {
  margin-right: 2px;
}
.ml4 {
  margin-left: 4px;
}
.character-icon {
  position: absolute;
  top: 9px;
  left: 18px;
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  background-color: transparent;
  border: none;
  border-radius: 18px;
  -webkit-transition: -webkit-box-shadow .14s cubic-bezier(.4,0,.2,1);
  transition: -webkit-box-shadow .14s cubic-bezier(.4,0,.2,1);
  transition: box-shadow .14s cubic-bezier(.4,0,.2,1);
  transition: box-shadow .14s cubic-bezier(.4,0,.2,1),-webkit-box-shadow .14s cubic-bezier(.4,0,.2,1);
}
/* .pets {
  min-height: 400px;
} */
.pet-img {
  display: inline-block;
  width: 48px;
  height: 54px;
  margin-right: 6px;
}
.pet-img img {
  width: 48px;
}
