body.mdui-appbar-with-tab-larger {
  padding-top: 110px;
}
#progress {
  position: fixed;
}
#search.mdui-textfield-expanded {
  width: 40%;
}

img {
  width: 30px;
}
.cards {
  margin-top: 20px;
}
.mdui-card {
  margin-top: 10px;
}
#back-to-index {
  display: none;
}
.mdui-drawer {
  background-color: white;
}
.mdui-drawer a {
  color: black !important;
}