body {
  padding-left: 20px;
  padding-right: 20px;
}
#app {
  margin-top: 10px;
}
.mdui-table td, .mdui-table th {
  padding: 8px 12px;
  white-space: nowrap;
}
.mdui-table td:first-child, .mdui-table th:first-child {
  padding-left: 12px;
}
.mdui-table td:nth-child(2), .mdui-table th:nth-child(2) {
  padding-left: 12px;
}
.mdui-table td:last-child, .mdui-table th:last-child {
  padding-right: 12px;
}