extends ../layout

block content
  link(rel="stylesheet", href="/m/css/mdui.min.css")
  link(rel="stylesheet", href="/m/css/buglist.css")
  script(src="/m/js/mdui.min.js")
  script(src="/javascripts/vue.min.js")
  script(src="/javascripts/axios.min.js")
  #progress.mdui-progress
    .mdui-progress-indeterminate
  #app.mdui-color-theme
    .mdui-appbar.mdui-appbar-fixed.mdui-app-bar-scroll-hide
      .mdui-toolbar.mdui-color-theme
        span.mdui-btn.mdui-btn-icon.mdui-ripple.mdui-ripple-white(@click='backToHome')
          i.mdui-icon.material-icons home
        .mdui-typo-title bug 记录
        .mdui-toolbar-spacer
        #search.mdui-textfield.mdui-textfield-expandable.mdui-float-right
          button.mdui-textfield-icon.mdui-btn.mdui-btn-icon
            i.mdui-icon.material-icons search
          input.mdui-textfield-input.mdui-text-color-white(type='text', placeholder="搜索", v-model='searchInput')
          button.mdui-textfield-close.mdui-btn.mdui-btn-icon(@click='searchInput=""')
            i.mdui-icon.material-icons close
        img(src='/images/favicon-title.png')
      .mdui-tab.mdui-color-theme
        a.version-select.mdui-ripple(v-for='ver in versions', @click.prevent='loadList(ver, $event)') {{ ver }}
    .mdui-card(v-for='card in filteredCards')
      //- .mdui-card-primary
      //-   .mdui-card-primary-title {{ card.title }}
      //-   .mdui-card-primary-subtitle {{ card.subtitle }}
      .mdui-card-content
        | {{ card.title ? '[' + card.title + ']' : '' }}
        strong(v-show='card.status', :style='color[card.status]')
          | [{{ card.status }}]
        | {{ card.subtitle }}
        br
        .content(:id='"card-" + card.id') {{ card.content }}
  script(src="/m/js/buglist.js")