extends layout

block content
  link(rel="stylesheet", href="/m/css/mdui.min.css")
  link(rel="stylesheet", href="/m/css/mdui-layout.css")
  link(rel="stylesheet", href="/m/css/buglist.css")
  script(src="/m/js/mdui.min.js")
  script(src="/javascripts/vue.min.js")
  script(src="/javascripts/axios.min.js")
  #app.mdui-color-theme
    .mdui-appbar.mdui-appbar-fixed.mdui-app-bar-scroll-hide
      .mdui-toolbar.mdui-color-theme
        a.mdui-btn.mdui-btn-icon.mdui-ripple.mdui-ripple-white(href='/')
          i.mdui-icon.material-icons home
        .mdui-typo-title BUG 记录
        .mdui-toolbar-spacer
        #search.mdui-textfield.mdui-textfield-expandable.mdui-float-right
          button.mdui-textfield-icon.mdui-btn.mdui-btn-icon
            i.mdui-icon.material-icons search
          input.mdui-textfield-input.mdui-text-color-white(type='text', placeholder="搜索", v-model='searchInput')
          button.mdui-textfield-close.mdui-btn.mdui-btn-icon(@click='searchInput=""')
            i.mdui-icon.material-icons close
        img(src='/images/favicon-r.png')
      .mdui-tab.mdui-color-theme
        a.version-select.mdui-ripple(v-for='ver in versions', @click.prevent='loadList(ver, $event)') {{ ver }}
      .mdui-tab.mdui-color-theme
        a.type-select.mdui-ripple(v-for='type in types', @click.prevent='filterType(type, $event)') {{ type }}
      #progress.mdui-progress
        .mdui-progress-indeterminate
    .cards(style='display:none')
      .mdui-card(v-for='card in filteredCards', :key='card.id')
        .mdui-card-content
          strong(v-show='card.status', :style='color[card.status]')
            | [{{ card.status }}]
          | {{ card.title ? '[' + card.title + ']' : '' }}
          | {{ card.subtitle }}
          br
          .content(:id='"card-" + card.id') {{ card.content }}
        .mdui-card-actions
          button.mdui-btn.mdui-float-right.mdui-ripple.mdui-shadow-1(
            @click='showDetail(card)'
          ) 详情
            i.mdui-icon.mdui-icon-right.material-icons details
          button.mdui-btn.mdui-float-right.mdui-ripple.mdui-shadow-1(@click='t2s(card.id, card.content, $event)')
            | 干掉繁体字！
    #detail-dialog.mdui-dialog
      .mdui-dialog-content
        h3.detail-title {{ current.content }}
        .detail-container
          .detail-content(v-html='current.detail')
          .img-container(
            v-if='current.images.length',
            :style='"height:" + current.images.length * 180 + "px"'
          )
            img.detail-image(
              v-for='image in current.images',
              :src='image',
            )
      .mdui-dialog-actions
        button.mdui-btn.mdui-ripple.mdui-shadow-1(@click='t2sCurrent', :disabled='disableT2s')
          | {{ currentBtn }}
        button.mdui-btn.mdui-ripple.mdui-shadow-1(mdui-dialog-close)
          i.mdui-icon.material-icons close
    button.mdui-fab.mdui-fab-fixed.mdui-ripple.mdui-color-theme-accent(@click='backToTop')
      i.mdui-icon.material-icons publish
  script(src="/m/js/buglist.js")
