extends ../layout

block content
  link(rel="stylesheet", href="/m/css/mdui.min.css")
  link(rel="stylesheet", href="/m/css/mdui-layout.css")
  script(src="/m/js/mdui.min.js")
  script(src="/javascripts/vue.min.js")
  script(src="/javascripts/axios.min.js")
  #progress.mdui-progress
    .mdui-progress-indeterminate
  #app.mdui-color-theme
    .mdui-appbar.mdui-appbar-fixed.mdui-app-bar-scroll-hide
      .mdui-toolbar.mdui-color-theme
        a.mdui-btn.mdui-btn-icon.mdui-ripple.mdui-ripple-white(href='/')
          i.mdui-icon.material-icons home
        .mdui-typo-title 公告记录
        .mdui-toolbar-spacer
        #search.mdui-textfield.mdui-textfield-expandable.mdui-float-right
          button.mdui-textfield-icon.mdui-btn.mdui-btn-icon
            i.mdui-icon.material-icons search
          input.mdui-textfield-input.mdui-text-color-white(type='text', placeholder="搜索", v-model='searchInput')
          button.mdui-textfield-close.mdui-btn.mdui-btn-icon(@click='searchInput=""')
            i.mdui-icon.material-icons close
        img(src='/images/favicon-r.png')
      .mdui-tab.mdui-color-theme
        a#server-3.servers.mdui-ripple(@click='changeServer(3)') 正式服
        a#server-18.servers.mdui-ripple(@click='changeServer(18)') 测试服
    .cards
      .mdui-card(v-for='card in filteredCards')
        .mdui-card-content [ {{ card.date }} ] {{ card.title }}
        .mdui-card-actions
          button.mdui-btn.mdui-ripple.mdui-shadow-1.mdui-float-right(@click='read(card.key, card.title)') 详情
            i.mdui-icon.mdui-icon-right.material-icons details
    .mdui-dialog#dialog
      #dialog-content.mdui-dialog-content
      .mdui-dialog-actions
        button.mdui-btn.mdui-ripple.mdui-shadow-1(mdui-dialog-cancel)
          i.mdui-icon.material-icons close
  script(src="/m/js/cms.js")
