extends layout

block content
  link(rel="stylesheet", href="/m/css/mdui.min.css")
  link(rel="stylesheet", href="/m/css/mdui-layout.css")
  link(rel="stylesheet", href="/m/css/gacha.css")
  script(src="/m/js/mdui.min.js")
  script(src="/javascripts/vue.min.js")
  script(src="/javascripts/axios.min.js")
  #app.mdui-color-theme
    .mdui-appbar.mdui-appbar-fixed.mdui-app-bar-scroll-hide
      .mdui-toolbar.mdui-color-theme
        a.mdui-btn.mdui-btn-icon.mdui-ripple.mdui-ripple-white(href='/')
          i.mdui-icon.material-icons home
        .mdui-typo-title 扭蛋模拟器
        .mdui-toolbar-spacer
        img(src='/images/favicon-r.png')
      #app-tab.mdui-tab.mdui-color-theme.hide
        a.mdui-ripple(v-for='pool in pools', @click='setPool(pool)', :class='{"mdui-tab-active": pool==current.pool}')
          | {{ poolmap[pool] }}
      #progress.mdui-progress
        .mdui-progress-indeterminate
    .emulator.hide
      #main.mdui-card.hide
        .mdui-card-actions.mdui-text-center.mdui-text-color-black-secondary
          button.mdui-btn.mdui-ripple.mdui-shadow-1(@click='single()', :disabled='disableGacha')
            | 祈愿1次
          button.mdui-btn.mdui-ripple.mdui-shadow-1(@click='ten()', :disabled='disableGacha')
            | 祈愿10次
        .mdui-card-content
          #gachas.mdui-tab.mdui-theme-layout-dark.mdui-center.mdui-container-fluid
            a(@click='selectType("s")').mdui-ripple.mdui-ripple-white.mdui-col-xs-6.mdui-tab-active 单次祈愿
            a(@click='selectType("t")').mdui-ripple.mdui-ripple-white.mdui-col-xs-6 十次祈愿
          .table.mdui-theme-layout-dark.mdui-text-color-white.mdui-center
            .tbody
              //- template(v-for='(record, index) in reverseRecords')
              //-   .tr(v-if='(current.pool === "high" || current.pool === "special") && index > 0 && (reverseRecords.length - index) % 10 === 0')
              //-     .td.hr
              //-   //- TODO: 优化装备/使魔区分
              //-   .tr(v-if='current.pool === "custom" && probs.custom.god && index > 0 && (reverseRecords.length - index) % 7 === 0')
              //-     .td.hr
              //-   .tr.record
              //-     .td.date {{ record.date }}
              //-     .td.equip(:class='{god: record.isGod}') {{ record.equip }}
              template(v-for='record in recordList')
                .tr(v-if='record.type === "hr"')
                  .td.hr
                .tr.record(v-else)
                  .td.date {{ record.date }}
                  .td.equip(:class='{god: record.isGod}') {{ record.equip }}
          .show-dialog
            label.mdui-checkbox
              input(type='checkbox', v-model='showSnackbar')
              i.mdui-checkbox-icon
              | 显示右下角弹框(弹框过多可能有性能问题)
            br
            label.mdui-checkbox
              input(type='checkbox', v-model='showDialog')
              i.mdui-checkbox-icon
              | 十连结果弹窗显示(需联网,可能较卡)
            br
            p.costs 已祈愿 {{ totalGachas }} 次，累计消耗 {{ totalCosts }} 水晶
              br
              | 相当于 {{ totalOrders }} 单648，合计 {{ totalMoney }} RMB
              br
              | ( 仅统计本次访问时数据 )
    .mdui-card.hide.mdui-p-x-3.mdui-p-b-3
      .mdui-card-primary
        .mdui-card-primary-title 当期up内容
      .mdui-card-content
        .mdui-panel.mdui-panel-gapless(mdui-panel)
          .mdui-panel-item(v-for='(items, pool) in upItems', v-if='items.length')
            .mdui-panel-item-header {{ poolmap[pool] }}
              i.mdui-panel-item-arrow.mdui-icon.material-icons keyboard_arrow_down
            .mdui-panel-item-body
              p(v-for='item in items') {{ item }}
        button.mdui-btn.mdui-float-left.mdui-ripple.mdui-shadow-1.mdui-m-t-3(@click='clearStorage')
          | 清空祈愿记录
    #gacha-dialog.mdui-dialog.mdui-color-grey-900
      .mdui-dialog-title
        .mdui-dialog-title-header {{ poolmap[current.pool] }}祈愿结果
      .mdui-dialog-content.mdui-p-t-2
        .results
          .result(v-for='result in currentResults', :class='{god: result.isGod || result.isSpec, awaken: result.isAwaken}')
            .has-img(v-if='result.img')
              img(:src='result.img')
              p {{ result.title }}
                p(v-if='result.isGod && result.isAwaken') [装备神格觉醒]
            .no-img(v-else)
              img(src='/error.jpg')
              p {{ result.title }}
      .mdui-dialog-actions
        button.mdui-btn.mdui-ripple.mdui-color-grey-700(mdui-dialog-close)
          i.mdui-icon.material-icons close
  script(src='/m/js/gacha.js')
