extends layout

block content
  link(rel="stylesheet", href="/m/css/mdui.min.css")
  link(rel="stylesheet", href='/m/css/index.css')
  script(src="/m/js/mdui.min.js")
  script(src="/javascripts/vue.min.js")
  script(src="/javascripts/axios.min.js")
  #app.mdui-color-theme
    header.mdui-appbar.mdui-appbar-fixed
      .mdui-toolbar.mdui-color-theme
        span.mdui-btn.mdui-btn-icon.mdui-ripple.mdui-ripple-white(mdui-drawer='{target:"#drawer"}')
          i.mdui-icon.material-icons menu
        .mdui-typo-title 搞事学园
        .mdui-toolbar-spacer
        img(async, src='/images/favicon-r.png')
    #drawer.mdui-drawer.hide
      a.mdui-list-item(v-for='item in drawer', :href='item.url') {{item.name}}
    //- .mdui-card
    //-   .mdui-card-primary
    //-     .mdui-card-primary-title 古树战争
    //-   table#fw.mdui-table
    //-     thead
    //-       td
    //-         img#fw-refresh(src='/images/icons/Material/refresh_black.png', @click='updatePets')
    //-       td 分数线
    //-       td 争夺分
    //-     tr.faction(v-for='pet in pets')
    //-       td.pet {{ pet.name }}
    //-       td.line {{ pet.top }}
    //-       td.score {{ pet.round }}
    .mdui-card#balor.hide
      .mdui-card-primary
        .mdui-card-primary-title 七星巴罗尔伤害计算器
        .mdui-card-primary-subtitle Special Thanks to Wyz_C
      .mdui-card-content.mdui-container-fluid
        .mdui-textfield.mdui-col-xs-6.mdui-col-md-2
          label.mdui-textfield-label 总暴击率(%)
          input.mdui-textfield-input(type="number",
                v-model.number='balor.crate')
          .mdui-textfield-helper 含巴罗尔提供的暴击率
        .mdui-textfield.mdui-col-xs-6.mdui-col-md-2
          label.mdui-textfield-label 总暴伤增幅(%)
          input.mdui-textfield-input(type="number",
                v-model.number='balor.cadds')
          .mdui-textfield-helper 含被巴罗尔减少的爆伤
        .mdui-textfield.mdui-col-xs-6.mdui-col-md-2
          label.mdui-textfield-label 巴罗尔超暴减益(%)
          input.mdui-textfield-input(type="number",
                v-model.number='balor.minus')
        .mdui-textfield.mdui-col-xs-6.mdui-col-md-2
          label.mdui-textfield-label 巴罗尔减益下限(%)
          input.mdui-textfield-input(type="number",
                v-model.number='balor.minmi')
        .mdui-textfield.mdui-col-xs-6.mdui-col-md-2
          label.mdui-textfield-label 纹章
          select.mdui-textfield-input(v-model='balor.wz')
            option(value='', default) 无
            option(value='1') 有
        .mdui-textfield.mdui-col-xs-6.mdui-col-md-2
          label.mdui-textfield-label 最高暴击倍率
          input.mdui-textfield-input(v-model='balorRate', readonly)
        .mdui-panel.mdui-panel-gapless(mdui-panel)
          .mdui-panel-item
            .mdui-panel-item-header 详细数据
              i.mdui-panel-item-arrow.mdui-icon.material-icons keyboard_arrow_down
            .mdui-panel-item-body
              table.mdui-table
                thead
                  tr
                    td 触发几率
                    td 伤害倍率
                tbody
                  tr
                    td {{ balor.lowProb }} %
                    td {{ balor.lowRate }} 倍
                  tr
                    td {{ balor.highProb }} %
                    td {{ balor.highRate }} 倍
                  tr
                    td 加成期望
                    td {{ balor.exp }} %
    .mdui-card
      .mdui-card-primary
        .mdui-card-primary-title 欢迎来到搞事学园
      .mdui-card-content 您正在使用搞事学园测试版 , 目前功能还不完善 , 有任何意见建议欢迎发送到 me@hongshn.xyz ~
        //- p 如果您在本页没有看到其他内容 , 说明您的浏览器/系统版本过低 , 请升级后再试~
    .mdui-card.hide(v-for='card in cards')
      .mdui-card-primary
        .mdui-card-primary-title {{ card.title }}
      .mdui-card-content.mdui-container-fluid
        p {{ card.content }}
        .mdui-panel.mdui-panel-gapless(mdui-panel, v-show='swSize.total')
          .mdui-panel-item
            .mdui-panel-item-header 已使用的缓存
              i.mdui-panel-item-arrow.mdui-icon.material-icons keyboard_arrow_down
            .mdui-panel-item-body
              p 图片 : {{ swSize.image | byte2mb }} MB
              p 脚本 : {{ swSize.script | byte2mb }} MB
              p 字体 : {{ swSize.font | byte2mb }} MB
              p 其他 : {{ swSize.other | byte2mb }} MB
              p 总计 : {{ swSize.total | byte2mb }} MB
    #dialog.mdui-dialog.footer-dialog
      #dialog-content.mdui-dialog-content
        img(src='images/QRCode.jpg')
      .mdui-dialog-actions
        button.mdui-btn.mdui-ripple.mdui-shadow-1(mdui-dialog-cancel)
          i.mdui-icon.material-icons close
  footer.hide
    .mdui-container
      .mdui-row.footer-nav
        .mdui-col-sm-3.mdui-col-xs-6
          h4 友情链接
          ul
            li
              a(href='https://www.mihoyo.tech' target='_blank')
                | 西城飘雪的小窝 
                i.mdui-icon.mdui-icon-right.material-icons open_in_new
            li
              a(href='http://mihoyoimage.oss-cn-hangzhou.aliyuncs.com/Series/Ver5.5.html' target='_blank')
                | 王叔叔的神系分类表 
                i.mdui-icon.mdui-icon-right.material-icons open_in_new
        .mdui-col-sm-3.mdui-col-xs-6
          h4 官方链接
          ul
            li
              a(href='https://www.mihoyo.com/' target='_blank') 官网 
                i.mdui-icon.mdui-icon-right.material-icons open_in_new
            li
              a(href='https://www.mihoyo.com/charge/hsod2_charge/index.php/pay' target='_blank')
                | 充值中心 
                i.mdui-icon.mdui-icon-right.material-icons open_in_new
            li
              a(href='http://cms.mihoyo.com/mihoyo/hsod2_webview/index.php/broadcastTop/List' target='_blank')
                | 正式服公告 
                i.mdui-icon.mdui-icon-right.material-icons open_in_new
            li
              a(href='http://cms.mihoyo.com/mihoyo/hsod2_webview/index.php/broadcastTop/List?build=18' target='_blank')
                | 测试服公告 
                i.mdui-icon.mdui-icon-right.material-icons open_in_new
        .mdui-col-sm-6.mdui-hidden-xs
          h4 广告
          ul
            li(onclick='(new mdui.Dialog(mdui.JQ("#dialog"))).open()')
              a
                img(async, src='images/QRCode.jpg') 
                |  崩坏2通讯中心(点击放大)
      .mdui-divider-light.footer-divider
      .copyright Copyright © 2018 
        a(href='http://www.miitbeian.gov.cn', target='_blank')
          | 粤ICP备18035925号 
        //- | All rights reserved.
  script(src="/m/js/index.js")
