doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='shortcut icon', href='/favicon.png', type='image/png')
    //- PWA specific
    link(rel="manifest", href="/manifest.json")
    meta(name='theme-color' content='#3f51b5')
    //- for iOS safari
    link(rel="apple-touch-icon", href="/favicon.jpg")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="white")
  body.mdui-drawer-body-left.mdui-appbar-with-tab-larger.mdui-theme-primary-indigo.mdui-theme-accent-pink
    block content
    script(type='text/javascript').
      if ('serviceWorker' in navigator) navigator.serviceWorker.register('/sw.js');
